* {
    margin: 0;
    padding: 0;
  }

header {
    background-color: #282c34;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem
   
    
}

.field {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    color: darkgrey;
    outline: none;
    border-radius: 5px;
    margin: 1px;
    
}
.field:nth-child(3n +1) {
    margin-left: 10px;
}

.field[readonly] {
    color: black;
    background-color:lightgrey;

}

.board-container {
   text-align: center;
   padding-top: 100px;

}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    margin-top: 10px;
}




.row:nth-child(3n +1) {
    /* padding-top:10px; */
    margin-bottom: 10px;
}